.section_5{
    background-color: #14142B;
    padding-top: 12em;
    padding-bottom: 6em;
    .list-group{
        --bs-list-group-bg: none;
        .page{
            color:#fff;
        }
        .list-group-item{
            padding:10px 0px;
            border:none;
            color:#fff;
            a{
                color:#fff;
                text-decoration: none;
                
            }
        }
         

    }
}
.bottom_footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    background: #503AE7;
    p{
        color: #fff;
        margin-bottom: 0;
    }
}
