@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap");
body {
  font-family: "Inter", sans-serif;
}
.sub_global_head {
  text-align: center;
  color: #fff;
  font-size: 32px;
  font-weight: 700;
}
p{
  font-size: 16px;
}
