@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap");
body {
  font-family: "Inter", sans-serif !important;
  overflow-x: hidden;
}
.sub_global_head {
  text-align: center;
  color: #fff;
  font-size: 32px;
  font-weight: 700;
}
p{
  font-size: 16px;
}

@media (max-width:1366px) {
  p{
    font-size: 14px;
  }
}
@media(max-width:991px){
  p{
    font-size:10px; 
  }
}

  .sub_global_head{
    font-size: 25px;
  }
  @media (max-width:768px) {
    p{
      font-size:14px;
    }
    
  }

@media(max-width:576px){
  p{
    font-size:14px;
  }
}
@media(max-width:480px){
  .sub_global_head{
    font-size: 20px;


  }

}
@media (max-width:320px) {
  p{
    font-size: 11px;
  }
  
}
