
.navbar {
  .navbar_head{
    padding:0;
 
  }
  .navbar-nav {
    .nav-link {
      color: #14142b;
      margin-right: 25px;
      &:last-child {
        margin-right: 0;

      
      }
    }

    .list-group {
      .list-group-item {
        border: 0;
        padding: 0 5px;
        svg {
          font-size: 20px;
        }
      }
    }
  }
}
@media(max-width:768px){
  .navbar{
    .navbar_head{
      padding:10px 0;
    }
    .navbar-nav{
      .nav-link{
        &:last-child{
          margin-left: -12px;

        }
      }
    }
  }
}

