$Secondary-color: #503ae7;
.section_6 {
  position: relative;
  padding: 2.5em 0;
  .sponsors {
    padding: 4em 0 2em 0;
    background: $Secondary-color;
    position: absolute;
    width: 100%;
    bottom: -103px;
    .brands {
      display: flex;
      padding: 3em 0;
      justify-content: space-around;

    }
  }
}

@media(max-width:1024px) {
  .section_6 {
    .sponsors{
      .brands{
        img{
          width: 110px;
        }
      }
    }
  }
}
@media (max-width:786px) {
  .section_6 {
    .sponsors{
      .brands{
        img{
          width: 85px;
        }
      }
    }
  }
  
}
@media(max-width:576px){
  .section_6{
   display: none;
  }
}


    